.cta-div {
    margin: auto;
    width: 70%;
    padding: 4rem 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cta-div button {
    margin: auto;
    margin-top: 2rem;
}

@media screen and (max-width: 400px) {
    .cta-div{
        width: 90%;
    }
}