.htp-container {
    background-image: linear-gradient(to bottom, rgb(2, 0, 290, 0.35) 0%, #161430 50%), url(../../../public/images/htp-background.jpg);
    background-size: contain;
    width: 100%;
    padding: 8rem 0;
    margin-top: 9rem;
}

.htp-step {
    position: relative;
    min-height: 14rem;
    background: #191737;
    box-shadow: 0px 4px 50px #0C002E;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.htp-deco-line {
    position: absolute;
    top: calc(0% - 13rem);
    left: calc(0% + 2rem);
    height: 15rem;
    border-left: 4px white solid;
}

.htp-deco-point {
    position: absolute;
    top: calc(0% + 2rem);
    left: calc(0% + 1.6rem);
    height: 1rem;
    width: 1rem;
    background-color: white;
    transform: rotate(45deg);
    box-shadow: 0px 0px 20px #11E9E9;
}

#line-1 {
    height: 6rem;
    top: calc(0% - 4rem);
    border-left: 4px var(--teal) solid;
}

#point-1 {
    background-color: var(--teal);
    z-index: 5;
}

.htp-text {
    width: 70%;
    margin-left: 4rem;
}

.htp-image {
    width: 25%;
    position: absolute;
    top: 50%;
    right: calc(0% - 4rem);
    ;
    transform: translate(0, -50%);
}

.htp-text-heading h2 {
    color: white !important;
    background: none;
    -webkit-text-fill-color: white;
    display: inline-block;
}

.htp-step-no {
    position: relative;
    display: inline-block;
    margin-right: 1rem;
}

.htp-step-no h2 {
    margin-bottom: 0;
}

.htp-step-no img {
    position: absolute;
    left: calc(0% - 1.7rem);
    top: calc(0% + 0.8rem);
    width: 4.5rem;
    height: 4.5rem;
}

.htp-step-content {
    padding-left: 5rem;
    color: #C3BFFF;
    width: 80%;
}

.htp-wrapper {
    width: 60%;
    margin: auto;
}