.page-wrapper{
    background-color: #010a34;
    padding-bottom: 5rem;
}
.dashboard-flex{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 95%;
    margin: auto;
}

.dashboard-container {
    width: 95%;
    padding: 2rem 0;
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 1rem;
    display: flex;
    align-items: center;    
    flex-direction: column;
    
}
#match-list{
    height: 40rem;
    overflow-y: scroll;
    
    
}

#match-list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#match-list::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#match-list::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}
.dashboard-container p {
    color: white;
}

.big-text{
    font-size: 2.7rem;
    margin-bottom: 1rem;
}

.match-wrapper {
    background-color: rgb(255, 255, 255, 0.1);
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    justify-content: space-between;
}

.match-wrapper > *{
    margin: 0;
}

.small-text {
    font-size: 1rem;
    font-weight: 800;
}


.player-row{
    width: 90%;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.player-wrapper{
    display: flex;
    flex-flow: column;
    justify-content: center;
    border-radius: 1rem;
    width: 19%;
    padding: 0.2rem;
    background-color: rgb(0, 0, 0, 0.2) ;

}

.score-player-wrapper{
    width: 20%;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.score-player-wrapper img{
    width: 40%;
}

.score-player-wrapper h2{
    font-size: 1rem;
    width: 100%;
    margin:0;
    line-height: 1.5rem;
}

.score-player-wrapper .bigger{
    font-size: 1.2rem;
}

.score-player-wrapper div{
    width: 60%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.player-wrapper img, .player-wrapper h2{
    width: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: 1rem;
}

.score-board{
    background-color: rgba(0, 0, 0, 0.54);
    width: 90%;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-board h2{
    color: white;
    background: none;
    -webkit-text-fill-color: white;
    vertical-align: middle;
    margin: 0;
}
.final-score{
    display: inline;
    font-size: 3rem;
    color: white;
    background: none;
    -webkit-text-fill-color: white;
}
.minus{
    display: inline;
    background:var(--redgradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 0.3rem;
    margin-left: 0.5rem;
    font-size: 1rem;
    font-weight: 800;
}

.player-score-text{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    width: 20%;
}

.player-score-text *, .right-div *{
    margin-bottom: 0;
}

.match-details{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.match-details{
    width: 70%;
}

.right-div{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}